<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
        <h1 class="jumbotron">Mission to Mars</h1>
        <a class="button btn-lg text-white"  href="/scrape" role="button">Scrape data</a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Latest Mars News</h2>
                <h3>{{ mars_data.title }}</h3>
                <h4>{{ mars_data.paragraph }}</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h5>Featured Mars Image</h5>
                <img src="{{ mars_data.featured_image_url }}" alt = "featured nasa image" />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h6>Mars Weather</h6>
        <p>{{ mars_data.mars }}</p>
    </div>

</body>

</html>